.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.list {
  b {
    color: black;
  }
  li {
    margin-bottom: 16px;
  }
}

.videoContainer {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.videoControls {
  height: 600px;
  width: 600px;
  @media (max-width: $mantine-breakpoint-sm) {
    height: 300px;
    width: 300px;
  }
}
