.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    margin-bottom: rem(50);
  }
}

.leftSection {
  background-color: var(--cc-green);
}

.title {
  color: #000;
  font-size: rem(44);
  font-weight: 600;
  /* font-family: var(--font-poppins); */
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(28);
  }
}
