.headerContainer {
  position: "relative";
  background-color: "transparent";
  border-bottom: 0;
}
.logo {
  margin-top: "-40px";
  max-height: "100%";
  margin-left: "-20px";
}
.headerLink {
  display: "flex";
  align-items: "center";
  height: "100%";
  padding-left: "20px";
  padding-right: "20px";
  text-decoration: "none";
  color: "white";
  font-weight: 500;
  font-size: "16px";

  /* add hover for green color */
  /* spotify green */
  /* color: "#1DB954"; */
}

.sideMenuLink {
  display: "flex";
  align-items: "center";
  height: rem(42);
  width: "100%";
  padding-left: "20px";
  padding-right: "20px";
  text-decoration: "none";
  color: "black";
  font-weight: 500;
  font-size: "16px";
}

.hiddenMobile {
  @media (max-width: $mantine-breakpoint-sm) {
    display: "none";
  }
}

.hiddenDesktop {
  @media (max-width: $mantine-breakpoint-sm) {
    display: "none";
  }
}
