.card {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
  position: relative; /* Needed for absolute positioning of the :after pseudo-element */
  overflow: hidden; /* Ensures the pseudo-element does not extend outside the card */
  box-shadow: var(--mantine-shadow-xl);
  &:hover {
    transform: translateY(-5px);
    border: none;
    border-bottom: 5px solid var(--cc-green);
    box-shadow: none;

    &:after {
      width: 100%; /* Full width on hover */
    }
  }
}
