.card {
  position: relative;
  /* border: 0.75px solid #cccccc; */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
  cursor: pointer;
}

.card:hover {
  /* Enhance zoom effect on hover */
  transform: scale(1.03); /* Slightly larger scale for zoom effect */
  box-shadow: none; /* Optionally remove the box-shadow for focus on the border animation */
  border: 1px solid var(--cc-green);
}

.cardImage {
  position: relative;
  object-fit: inherit;
  min-height: 300px;
}

.viewProjectbutton {
  background-color: var(--cc-green);
  width: 250px;
  &:hover {
    background-color: var(--cc-light-green);
  }
}

.closeButton {
  width: 250px;
  background-color: var(--cc-green);
  &:hover {
    background-color: var(--cc-light-green);
  }
}

/* for image carousel */
.indicator {
  width: rem(12px);
  height: rem(4px);
  transition: width 250ms ease;

  &[data-active] {
    width: rem(40px);
  }
}
