.wrapper {
  min-height: 100vh;
  margin-top: 50px;
  @media screen and (max-width: 768px) {
    margin-bottom: 100px;
  }
}

.description {
  text-align: center;
}

.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 150ms ease, box-shadow 100ms ease;
  padding: 25px;
  padding-left: 15px;
  height: 100%;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px 0 var(--cc-green);
}
