.wrapper {
  margin-top: 2rem;
}

.card {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.categoryTitle {
  &::after {
    /* content: "";
    display: block;
    background-color: var(--cc-green);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    text-align: center; */
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--mantine-radius-md);
  height: rem(90px);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  transition: box-shadow 150ms ease, transform 100ms ease;
}

.item:hover {
  box-shadow: var(--cc-green) 0px 0px 10px 0px;
  transform: scale(1.03);
}
