:root {
  --cc-green: #1db954;
  --cc-light-green: #1ed760;

  --cc-accent-color: #6772e5;
  --cc-accent-color-light: #f3f4f6;
  --cc-accent-color-dark: #1e1e1e;
}

body {
  margin: 0; /* remove default margin for hero image background */
}

/* style props from mantine */
/* https://mantine.dev/styles/style-props/ */

/* default colors */
/* https://mantine.dev/theming/colors/#default-colors */

/* Montserrat - Montserrat and Poppins share a modern sans-serif aesthetic,
 but Montserrat's slightly quirkier letterforms can add an interesting visual 
 texture when used as body text alongside Poppins. 
*/

/* Raleway - Raleway is an elegant sans-serif typeface with a more delicate
 weight compared to Poppins. Its high level of readability and sophisticated
 style makes it a good companion for more upscale or artistic projects.
*/

/* Poppins - Poppins is a modern sans-serif typeface with a geometric aesthetic.
 It's a versatile font that can be used for both display and text, and it pairs
 well with Raleway and Montserrat. */

/* --mantine-breakpoint-xs: 36em; (576px) */
/* --mantine-breakpoint-sm: 48em; (768px) */
/* --mantine-breakpoint-md: 62em; (992px) */
/* --mantine-breakpoint-lg: 75em; (1200px) */
/* --mantine-breakpoint-xl: 88em; (1408px) */
