:root {
  --main-dark-green: #566e57;
  --main-light-green: #a8c196;

  --emerald-green: #00873d; /* This vibrant and energetic green evokes the feeling of success and abundance. */
  --jade-green: #00a86b; /* This darker green is a bit more subdued, but still provides a feel of sophistication and prestige. */
  --neon-green: #39ff14; /* This bold, electric green is modern and futuristic, perfect for a tech company pushing the boundaries. */
  --lime-green: #32cd32; /* This brighter, cheerful green has a more friendly, approachable vibe. */
  --forest-green: #228b22; /* This deep, rich green suggests stability, longevity, and trustworthiness. */
  --mint-green: #98ff98; /* This lighter, softer green is more muted and can provide a clean, fresh, modern look. */
  --sea-green: #2e8b57; /*  This medium to dark green with a hint of blue is stable and calming. */
}
