:root {
  --cc-green: #1db954;
  --cc-light-green: #1ed760;

  --cc-accent-color: #6772e5;
  --cc-accent-color-light: #f3f4f6;
  --cc-accent-color-dark: #1e1e1e;

  --cc-text-color: #414042;
}

body {
  margin: 0; /* remove default margin for hero image background */
}

html {
  /* Accounts for height of header when navigating to a section */
  scroll-padding-top: 56px;
}

.green-linear-gradient {
  background: linear-gradient(
    45deg,
    var(--cc-green) 0%,
    var(--cc-light-green) 100%
  );
}

/* style props from mantine */
/* https://mantine.dev/styles/style-props/ */

/* default colors */
/* https://mantine.dev/theming/colors/#default-colors */

/* Poppins - Poppins is a modern sans-serif typeface with a geometric aesthetic.
 It's a versatile font that can be used for both display and text, and it pairs
 well with Raleway and Montserrat. */

/* Montserrat - Montserrat and Poppins share a modern sans-serif aesthetic,
 but Montserrat's slightly quirkier letterforms can add an interesting visual 
 texture when used as body text alongside Poppins. 
*/

/* Varta - Varta is a sans-serif typeface with a modern, geometric aesthetic.
 It's a versatile font that can be used for both display and text, and it pairs
 well with Raleway and Montserrat. */

/* --mantine-breakpoint-xs: 36em; (576px) */
/* --mantine-breakpoint-sm: 48em; (768px) */
/* --mantine-breakpoint-md: 62em; (992px) */
/* --mantine-breakpoint-lg: 75em; (1200px) */
/* --mantine-breakpoint-xl: 88em; (1408px) */
