.main {
  min-height: 100vh;
}

/* Landing Page */

.backgroundImage {
  /* Find a way to do this without absolute position */
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}

/* container for everything below the landing page background image */
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pageTitle {
  color: white;
  /* Add this font get from google?? */
  justify-content: center;
  margin-top: 175px;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

.sectionsContainer {
  position: absolute;
  top: 100vh;
  width: 100%;
}

/* About Section */
.aboutContainer {
  display: flex;
  align-items: flex-start;
  background: linear-gradient(45deg, #a8c196, #84a9ac, #3b6978);
  text-align: center;
  color: white;
}

.aboutTitle {
  margin-bottom: 1rem;
}

.aboutLeftColumn {
  width: 50%;
  display: inline-block;
}

.aboutRightColumn {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

/* Custom animations */

.slideDown {
  opacity: 0;
  animation: slideDownOpacity ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes slideDownOpacity {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeOut {
  opacity: 1;
  animation: fadeOut ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
