.contentContainer {
  /* container for everything below the landing page HeroImageBackground */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.sectionsContainer {
  /* position: absolute;
  top: 100vh;
  width: 100%; */
}
