/* .main {
  min-height: 100vh;
} */

/* container for everything below the landing page background image */
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sectionsContainer {
  position: absolute;
  top: 100vh;
  width: 100%;
}
